<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{series?.name}}</h1>
           
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Details</a>
          <ng-template ngbNavContent>
            <img src="{{series?.image.medium}}" alt="{{series?.name}}">
            <br>
            <ngb-rating rate="{{series?.rating.average}}" readonly="true" class="h3"></ngb-rating>
            <hr>
            
            <div class="e2e-inner-html-bound" [innerHTML]="series?.summary"></div>
            <b>Genre:</b><span  *ngFor="let genre of series?.genres"> {{genre}} </span>
            <div><b>Status:</b> {{series?.status}}</div>
            <div><b>Duration:</b> {{series?.runtime}} min</div>
            <div><b>Country:</b> {{series?.network.country.name}}</div>
            <div><b>Premired:</b> {{series?.premiered}}</div>
          </ng-template>  
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Episodes</a>
          <ng-template ngbNavContent >
            <app-episode-list></app-episode-list>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
    </div>
  </div>
</div>